<%- include('header') %>
    <h4>
        Desculpe ocorreu um erro ao requisitar essa operação no sistema.
        Esse problema será resolvido o mais breve possível.
    </h4>
    <div class="col-3"><a href="/" class="btn btn-primary btn-sm">Voltar a Home</a></div>
<%- include('footer') %>
