<%- include('header') %> 

    <div class="card m-1 p-0 mx-auto" style="width: 20rem">
      <div class="card-body">
        <h5 class="card-header h2 m-1 p-2"><%= favorito.titulo %></h5>
        <p class="text-muted m-0 p-0"><%= favorito.detalhes %></p>
        <div class="col-3"><a href="/" class="btn btn-primary btn-sm">Voltar a Home</a></div>
      </div>
    </div>

<%- include('footer') %>